<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happiness of People</title>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
    
    <h1>People's Happiness Around the World</h1>
    <ul>
        <li><a href="http://127.0.0.1:5000/happiness">World Map with Happiness Metrics</a></li>
        <li><a href="http://127.0.0.1:5000/weather">Weather Overview</a></li>
    </ul>


</body>
</html>
